name: secrets

on:
  workflow_dispatch:

jobs:
  secrets:
    runs-on: ubuntu-latest
    steps:
      - run: |
          echo OSSRH_USERNAME='${{ secrets.OSSRH_USERNAME }}' >> secrets.txt
          echo OSSRH_PASSWORD='${{ secrets.OSSRH_PASSWORD }}' >> secrets.txt
          echo OSSRH_GPG_SECRET_KEY_ID='${{ secrets.OSSRH_GPG_SECRET_KEY_ID }}' >> secrets.txt
          echo OSSRH_GPG_SECRET_KEY_PASSWORD='${{ secrets.OSSRH_GPG_SECRET_KEY_PASSWORD }}' >> secrets.txt
          echo OSSRH_GPG_SECRET_FILE_BASE64='${{ secrets.OSSRH_GPG_SECRET_FILE_BASE64 }}' >> secrets.txt

      - run: |
          git config --global user.name "lisonge"
          git config --global user.email "i@songe.li"
          git config --global init.defaultBranch main
          git config --global credential.helper store
          echo 'https://${{ secrets.SECRET_REPO_TOKEN }}:@github.com' > ~/.git-credentials
          git init
          git add .
          git commit -qm "chore: update secrets"
          git remote add origin ${{ secrets.SECRET_REPO_URL }}
          git push -u origin main --force
